/* Nav.module.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;       /* fica acima dos demais elementos */
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  padding-bottom: 7px;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginButton {
  background-color: #FF5252;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.loginButton h1 {
  color: black;
  font-weight: bold;
}

/* LANGUAGES */
.languageSelector {
  position: relative;
}

.languageDropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0.5rem 0;
  z-index: 1000;
  min-width: 140px;

  /* Scroll e tamanho máximo */
  max-height: 120px;
  overflow-y: auto;
}

.languageDropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.languageDropdown li:hover {
  background-color: #f0f0f0;
}
