.containersearch {
    margin-top: 100px;
    margin-left: 200px;
}

.title {
    display: inline-block;
    padding-bottom: 2px;
    position: relative;
}

.line {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #FF5252;
    margin-left: 5px;
}

.description{
    color: white;
}

.filter{
    display: inline-flex;
    gap: 0.5rem;
    background-color: #2c2c2c;
    border-radius: 6px;
    flex-wrap: wrap;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
    margin: 5px;
    background-color: black;
    height: 30px;
    border-radius: 8px;
    text-align: center;
}

.box{
    width: 48%;
    height: 0;
    padding-bottom: 48%;
    margin: 1%;
    float: left;
    position: relative;
}

.block{
    position: absolute;
    text-align: center;
    background: white;
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

.block:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    background-color: white;
}
